<%- include('partials/header'); -%>

<link rel="stylesheet" type="text/css" href="css/home.css">
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


<div class="px-3 mypage">
    <h1>VIYOND.</h1>
    <p class="lead"><span>V For Virus Not Getting Beyond</span></p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white">Get Started</a>
    </p>
 </div>

 <div class="container fluid count">
    <div class="row">
      <div class="col-lg-4 text-center">
        <img src="images/vaccine.png" class="img-fluid img">
        <h2>+89</h2>
        <p>Citizens Have Been Vaccinated</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img src="images/doctor.png" class="img-fluid img">

        <h2>+123</h2>
        <p>Hospitals Have Been Registered</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img src="images/hospital.png" class="img-fluid img">

        <h2>+81</h2>
        <p>Inventories Have Been Connected</p>
      </div>
    </div>

</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Why Vaccinate?</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4" style="color:rgba(255,255,255,0.7);">Vaccination is a safe and effective way to prevent disease and save lives – now more than ever. When we get vaccinated, we aren’t just protecting ourselves, but also those around us. Some people, like those who are seriously ill, are advised not to get certain vaccines – so they depend on the rest of us to get vaccinated and help reduce the spread of disease.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">'Cause It Matters</button>
      </div>
    </div>
  </div>
</div>

<div style="padding-top: 20vmin;padding-bottom: 20vmin;background-color:rgb(128,128,128,0.1)">
<div class="card  text-center mx-auto" style="box-shadow: inset 0 0 5rem rgba(0, 0, 0, .3);">
  <div class="card-body">
    <h1 class="card-title">Covaccine</h1>
    <p class="card-text">
      Number of patients successfully vaccinated
    </p>
    <h1 style="color: green">+89</h1>
  </div>
</div>

<div class="card text-center mx-auto" style="margin-top: 2vmin;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <div class="card-body">
    <h1 class="card-title">Covi-Shield</h1>
    <p class="card-text">
      Number of patients successfully vaccinated
    </p>
    <h1 style="color: green">+142</h1>
  </div>
</div>
</div>

<section class="section-4" style="padding-top: 20vmin;">
            <div class="container text-center">
              <h1 class="ml9">
                <span class="text-wrapper">
                  <span class="letters" style="color:#8a0303;font-family: 'Frank Ruhl Libre', serif;font-size: 55px">Who Are We?</span>
                </span>
              </h1>
              <p  style="color:grey; font-size:23px;font-family:gadugi">We are an organisation who keep a track of all the vaccination data to give you trusted statistics</p>
            </div>
            <div class="container" style="padding-bottom: 80px;">
            <div class="row">
              <div class="col-lg-4 col-12 text-center">
                  <div class="card mr-2 d-inline-block shadow-lg" style="box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);">
                      <div class="card-img-top">
                        <img src="images/madam.jpg" class="img-fluid border-radius p-4">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">The Donation</h3>
                        <p class="card-text" style="font-family: 'Overpass', sans-serif;color: gray;">
                            You arrive for your blood donation appointment.Health history and mini physical are completed.Your donation, test tubes and your donor record are labeled with an identical bar code label.Your donation is kept on ice before being taken to a Red Cross center for processing; the test tubes go to the lab.
                        </p>
                      </div>
                    </div>
              </div>

                <div class="col-lg-4 col-12 text-center">
                  <div class="card mr-2 d-inline-block shadow-lg" style="box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);">
                      <div class="card-img-top">
                        <img src="images/testing.jpg" class="img-fluid border-radius p-4">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">Processing,Testing & Testing</h3>
                        <p class="card-text" style="font-family: 'Overpass', sans-serif;color: gray;">
                            At our processing center, information about your donation is scanned into a computer database.A dozen tests are performed, to establish the blood type and test for infectious diseases.When test results are received, units suitable for transfusion are labeled and stored.
                        </p>
                      </div>
                    </div>
              </div>


              <div class="col-lg-4 col-12 text-center">
                  <div class="card mr-2 d-inline-block shadow-lg" style="box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);">
                      <div class="card-img-top">
                        <img src="images/inject.jpg" class="img-fluid border-radius p-4" alt="">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">Distribution & Transfusion</h3>
                        <p class="card-text" style="font-family: 'Overpass', sans-serif;color: gray;">
                            Blood is available to be shipped to hospitals 24 hours a day, 7 days a week.Hospitals typically keep some blood units on their shelves, but may call for more at any time, such as in case of large scale emergencies.Patients who are unable to make enough platelets, due to illness or chemotherapy, may receive platelet transfusions to stay healthy.
                        </p>
                      </div>
                    </div>
              </div>
            </div>
          </div>
          </section>

<%- include('partials/footer'); -%>