<%- include('partials/header'); -%>

<link rel="stylesheet" type="text/css" href="css/home.css">
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


<div class="px-3 mypage">
    <h1>VIYOND.</h1>
    <p class="lead"><span>V For Virus Not Getting Beyond</span></p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white">Get Started</a>
    </p>
 </div>

 <div class="container fluid count">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4 text-center">
        <img src="images/vaccine.png" class="img-fluid img">
        <h2>+89</h2>
        <p>Citizens Have Been Vaccinated</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img src="images/doctor.png" class="img-fluid img">

        <h2>+123</h2>
        <p>Hospitals Have Been Registered</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img src="images/hospital.png" class="img-fluid img">

        <h2>+81</h2>
        <p>Inventories Have Been Connected</p>
      </div>
    </div>

</div>





















<%- include('partials/footer'); -%>