<%- include('partials/header'); -%>

<link rel="stylesheet" type="text/css" href="css/home.css">
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


<div class="px-3 mypage">
    <h1>VIYOND.</h1>
    <p class="lead"><span>V For Virus Not Getting Beyond</span></p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white">Get Started</a>
    </p>
 </div>

 <div class="container fluid count">
    <div class="row">
      <div class="col-lg-4 text-center">
        <img src="images/vaccine.png" class="img-fluid img">
        <h2>+89</h2>
        <p>Citizens Have Been Vaccinated</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img src="images/doctor.png" class="img-fluid img">

        <h2>+123</h2>
        <p>Hospitals Have Been Registered</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img src="images/hospital.png" class="img-fluid img">

        <h2>+81</h2>
        <p>Inventories Have Been Connected</p>
      </div>
    </div>

</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Why Vaccinate?</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Vaccination is a safe and effective way to prevent disease and save lives – now more than ever. When we get vaccinated, we aren’t just protecting ourselves, but also those around us. Some people, like those who are seriously ill, are advised not to get certain vaccines – so they depend on the rest of us to get vaccinated and help reduce the spread of disease.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">'Cause It Matters</button>
      </div>
    </div>
  </div>
</div>





















<%- include('partials/footer'); -%>