<%- include('partials/header'); -%>

<link rel="stylesheet" type="text/css" href="css/home.css">
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


<main class="px-3 mypage">
    <h1>VIYOND.</h1>
    <p class="lead"><span>V For Virus Not Getting Beyond</span></p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white">Get Started</a>
    </p>
 </main>























<%- include('partials/footer'); -%>