<%- include('partials/header'); -%>

<link rel="stylesheet" type="text/css" href="css/home.css">
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


<div class="px-3 mypage">
    <h1>VIYOND.</h1>
    <p class="lead"><span>V For Virus Not Getting Beyond</span></p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white">Get Started</a>
    </p>
 </div>

 <div class="container fluid count">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4 text-center">
        <img src="https://www.flaticon.com/svg/vstatic/svg/4228/4228736.svg?token=exp=1616767735~hmac=7179449fa705ddfd16b6aa62d93c93a7" class="img-fluid img">
        <h2>+89</h2>
        <p>Citizens Have Been Vaccinated</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img src="https://www.flaticon.com/svg/vstatic/svg/387/387561.svg?token=exp=1616767682~hmac=f2cfe395b1d0ca980867d6c7303e2f55" class="img-fluid img">

        <h2>+123</h2>
        <p>Hospitals Have Been Registered</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img src="https://www.flaticon.com/svg/vstatic/svg/4228/4228725.svg?token=exp=1616767724~hmac=2cf39e19eaa3ba25d1c60aa18ed7c12a" class="img-fluid img">

        <h2>+81</h2>
        <p>Inventories Have Been Connected</p>
      </div>
    </div>

</div>





















<%- include('partials/footer'); -%>