<%- include('partials/header'); -%>

<link rel="stylesheet" type="text/css" href="css/view.css">
 

<div class="content">
    <div class="report-overview-module"></div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="js/view.js"></script>
<%- include('partials/footer'); -%>
